.root {
    display: flex;
    align-items: center;
}

.separateLine {
    width: 1px;
    background: var(--black-color);
    margin: 0 10px;
    height: 20px;
    content: '';
}

.element {
    display: flex;
}

.element > button {
    border: none;
    background: none;
    font-size: 16px;
    cursor: pointer;
    outline: none;
}

.element > button:focus {
    border-bottom: 1px solid var(--main-color);
}