.root {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;

    transition: opacity 0.1s ease-in-out;
    opacity: 0;
}

.root.opened {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.container {
    background: #fff;
    box-shadow: rgb(0 0 0 / 20%) 0px 11px 15px -7px, rgb(0 0 0 / 14%) 0px 24px 38px 3px, rgb(0 0 0 / 12%) 0px 9px 46px 8px;
    min-width: 250px;
    width: auto;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    transition: transform 0.3s ease-in-out;
}

.container.opened {
    transform: translate(-50%, -50%);
}

.header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.header > h3 {
    font-weight: 400;
}

.header > h3::first-letter {
    text-transform: uppercase;
}

.content {
    padding: 10px;
}