.root {
    width: 100%;
}

.voucherContainer {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.formContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}