.root {
    width: 100%;
}

.root > input {
    -webkit-appearance: none;
    width: 100%;
    background: rgb(25, 118, 210);
    border-radius: 5px;
    width: 100%;
    height: 6px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.root > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: rgb(25, 118, 210);
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
  
.root > input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: rgb(25, 118, 210);
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

.inputContainer {
    padding: 20px;
}

.valuesContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}