.root {
    width: 100%;
    position: relative;
}

.inputContainer {
    width: 100%;
    position: relative;
}

.searchIcon {
    position: absolute;
    top: calc(50% - 8px);
    left: 10px;
}

.inputContainer > input {
    width: 100%;
    padding: 10px;
    padding-left: 30px;
    border: 1px solid var(--border-color);
    border-radius: 12px;
}

.inputContainer.inputError > input {
    border: 1px solid var(--error-color)
}

.inputContainer > input:focus {
    outline: none;
}

.popover {
    position: absolute;
    background: #fff;
    box-shadow: 0px 0px 5px 2px var(--border-color);
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
    z-index: 999;
}

.popover > p {
    opacity: 0.5;
}

.popoverElement {
    width: 100%;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 5px;
}

.popoverElement.selected {
    border: 1px solid var(--border-color); 
}

.popoverElement:hover {
    border: 1px solid var(--border-color); 
}

.selectedUser {
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
}

.selectedUsersContainer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.selectedUser > button {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-left: 5px;
    padding: 0;
}

.removeUserIcon {
    margin-top: 3px;
}

.error {
    padding-top: 8px;
    padding-left: 4px;
}

.error > p {
    color: var(--error-color);
    position: absolute;
    font-size: 14px;
    bottom: -12px;
}